body {
  background: rgb(251, 251, 252);
}

/* Auth */

.auth {
  /* height: 100vh; */
}

.auth .login-box {
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
  transition: 1s;
}

.auth .login-box:hover {
  box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.75);
}

/* Helpers */

.fw {
  width: 100%;
}

.bw {
  background: white;
}

.fh {
  height: calc(100vh - 80px);
}

.center-text {
  text-align: center;
}

.bw {
  background-color: white !important;
}

/* Fixed */

.ant-form-item {
  margin-bottom: 0px;
}

/* Transitions */

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

/* Gimnasio */

/* .select-to-top {
  position: absolute;
  animation: select-to-top;
  animation-duration: .5s;
}

@keyframes select-to-top {
  from {
    top: 50%;
    left: calc(50% - 60px);
  }
  to {
    top: 80px;
    left: calc(50% - 60px);
  }
} */