body {
  background: rgb(251, 251, 252);
  height: auto;
}

/* Auth */

.auth {
  /* height: 100vh; */
}

.auth .login-box {
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
  transition: 1s;
}

.auth .login-box:hover {
  box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.75);
}

/* Helpers */

.fw {
  width: 100%;
}

.bw {
  background: white;
}

.fh {
  height: calc(100vh - 80px);
  /* height: 100vh; */
}

.container-shadow {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  background-color: white;
  border-radius: 5px;
}

.center-text {
  text-align: center;
}

.bw {
  background-color: white !important;
}

/* Fixed */

.ant-form-item {
  margin-bottom: 0px;
}

/* Transitions */

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

@media (max-width: 992px) {
  .show-sm {
    display: block !important;
  }
  .hidden-sm {
    display: none !important;
  }
  .week {
    display: block !important;
    width: 100%;
  }
  .day {
    max-width: 100% !important;
    width: 100%;
    margin-top: 10px !important;
  }
}

.hidden-lg {
  display: none;
}

.hidden-sm {
  display: none;
}

.show-lg {
  display: flex;
}

.week {
  display: flex;
}

.day {
  flex-basis: 0;
  flex: 1 1 0;
  margin: 0px 2.5px;
  max-width: 14.2857%;
  text-align: center;
}

.day-row {
  background-color: #1990ff;
  color: white;
}

.calendar-container {
  border: 1px solid #e8e8e8;
  min-height: 200px;
}

.day-event {
  background: #e8e8e8;
  padding: 10px;
  margin: 2.5px 0px;
  width: 100%;
  /* opacity: 1; */
  transition: 1s;
  word-break: break-all;
  cursor: pointer;
}

.week-header {
  background: #1990ff;
  padding: 20px 0px;
  width: 100%;
}

/* week week-header */