body {
  background: #f4f6f9;
  height: auto;
}

/* Auth */

.auth {
  /* height: 100vh; */
}

.blur {
  opacity: .3 !important;
  z-index: 999999999999;
}

.auth .login-box {
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
  transition: 1s;
}

.auth .login-box:hover {
  box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.75);
}

/* Helpers */

.a {
  color: #337ddf;
  cursor: pointer;
}

.cp {
  cursor: pointer;
}

.inline-block {
  display: inline-block;
}

.fw {
  width: 100%;
}

.bw {
  background: white;
}

.fh {
  height: calc(100vh - 80px);
  /* height: 100vh; */
}

.margin-auto {
  margin: auto !important;
}

.container-shadow {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  background-color: white;
  border-radius: 5px;
}

.center-text {
  text-align: center;
}

.bw {
  background-color: white !important;
}

/* Fixed */

.ant-form-item {
  margin-bottom: 0px;
}

/* Transitions */

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 600ms ease-in;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

@media (max-width: 992px) {
  .show-sm {
    display: block !important;
  }
  .hidden-sm {
    display: none !important;
  }
  .week {
    display: block !important;
    width: 100%;
  }
  .day {
    max-width: 100% !important;
    width: 100%;
    margin-top: 10px !important;
    margin: 0px !important;
  }
}

.hidden-lg {
  display: none;
}

.hidden-sm {
  display: none;
}

.show-lg {
  display: flex;
}

.week {
  display: flex;
}

.week.week-events {
  /* border: 1px solid #e8e8e8; */
}

.day {
  flex-basis: 0;
  flex: 1 1 0;
  margin: 0px 2.5px;
  max-width: 14.2857%;
  /* text-align: center; */
}

.day:last-child {
  margin-right: 0px !important;
}

.day:first-child {
  margin-left: 0px !important;
}

.day-row {
  background-color: #337ddf;
  color: white;
}

.calendar-container {
  min-height: 200px;
}

.day-event {
  background: #e8e8e8;
  padding: 10px;
  margin: 2.5px 0px;
  width: 100%;
  /* opacity: 1; */
  transition: .7s;
  word-break: break-all;
  cursor: pointer;
}

.day-event:last-child {
  margin-bottom: 0px !important;
}

.day-event:first-child {
  margin-top: 0px !important;
}

.day-event.disabled {
  background: lightgray !important;
  cursor: not-allowed;
}

.day-event.full {
  background-color: #5e3444 !important;
  color: white !important;
}

.day-event.active {
  background-color: #34495e !important;
  color: white !important;
}

.day-event.active-reservada {
  background-color: #78b2ec !important;
  color: white !important;
}

.today {
  border: 1px solid #337ddf;
  border-top: none;
}

.week-header {
  background: #337ddf;
  padding: 20px 0px;
  width: 100%;
}

.box-button {
  border-radius: 0 !important;
}

.no-credits-label {
  float: right;
}

.float-right {
  float: right;
}

.fade {
  animation: fade;
  animation-duration: 1s;
}

.fadeIn {
  animation: fade;
  animation-duration: .8s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Perfil */

.profile-pic {
  width: 50%;
  border-radius: 50%;
}

/* week week-header */

/* Table */

.responsiveTable tbody tr {
  border: 1px solid #e8e8e8;
}

.responsiveTable td.pivoted {
  padding: 5px;
}

.btn-morado {
  background-color: #745af2 !important;
  border-color: #745af2 !important;
}